spring:
  datasource:
    url: jdbc:mysql://localhost:3306/assignment2?serverTimezone=Asia/Seoul
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: validate

  flyway:
    enabled: true

server:
  port: 8080

jwt:
  secret: ${JWT_SECRET:change-me}
  access-exp-min: ${JWT_ACCESS_EXPIRES_MIN:15}
  refresh-exp-days: ${JWT_REFRESH_EXPIRES_DAYS:14}